# Entorno virtual
venv/

# Archivos CSV exportados
*.csv

# Archivos HTML descargados
*.html

# Carpetas auxiliares generadas por guardar páginas web
*_files/

# Archivos ocultos de macOS
.DS_Store

# Archivos temporales o de backup comunes
*.swp
*~